<div class="container">
  <div class="title my-5">
    <h1>リスト作成</h1>
  </div>

  <div class="form-body">
    <%= render 'form', list: @list %>
  </div>

  <div class="foot-link text-right">
    <p><%= link_to 'Back', lists_path %></p>
  </div>
  
</div>