<div class="container">
  <div class="title">
    <h1>book登録ページ</h1>
  </div>
  <div class="search-form">
    <div class="form-inline mt-2 mt-md-0">
      <%= form_tag('', method: :get) do %>
      <%= text_field_tag :list, "", class: "form-control mr-sm-2", name: "keyword", placeholder: "本のタイトルを入れてください", style: "width: 400px;" %>
      <button class="btn btn-outline-success my-2 my-sm-0" title="検索" type="submit">検索</button>
    <% end %>
    </div>
    <div id='book_list'>
    <%= render partial: 'book_list' %>
    </div>
  </div>  
  <%= link_to 'リストページへ戻る', list_path(@list) %>
</div>
