<div class="container">
  <div class="title">
    <h1>book検索ページ</h1>
  </div>
  <div class="search-form">
    <div class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
  <hr class="featurette-divider">
    <div class="book row featurette">
      <div class="book-details col-md-7">
        <div class="book-item row">
          <h6 class="col-2">name:</h6>
          <p class="col-10">hogehogehogheoghoe</p>
        </div>
        <div class="book-item row">
          <h6 class="col-2">author:</h6>
          <p class="col-10">hogehogehogheoghoe</p>
        </div>
        <div class="book-item row">
          <h6 class="col-2">caption:</h6>
          <p class="col-10">hogehogehogheoghoehogehhogehogehoghogehogehogheoghoehogehogehogheohgoehoghoehgoheoghoehogehogehogheohgoehoghoehgo</p>
        </div>
      </div>
      <div class="book-picture col-md-5">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1237/9784297101237.jpg?">
      </div>
    </div>
  <hr class="featurette-divider">
   <div class="book row featurette">
      <div class="book-details col-md-7">
        <div class="book-item row">
          <h6 class="col-2">name:</h6>
          <p class="col-10">hogehogehogheoghoe</p>
        </div>
        <div class="book-item row">
          <h6 class="col-2">author:</h6>
          <p class="col-10">hogehogehogheoghoe</p>
        </div>
        <div class="book-item row">
          <h6 class="col-2">caption:</h6>
          <p class="col-10">hogehogehogheoghoehogehhogehogehoghogehogehogheoghoehogehogehogheohgoehoghoehgoheoghoehogehogehogheohgoehoghoehgo</p>
        </div>
      </div>
      <div class="book-picture col-md-5">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3977/9784774193977.jpg?">
      </div>
    </div>
  <hr class="featurette-divider">
  
</div>