@import "bootstrap";

.homes-index {
  height:100vh;
  width:100vw;
  background-color: #f5f5f5;
}

.top-container {
  position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
}

.header-left {
  float: left; 
}

.header-left h3 a {
  color: #696969;
}

.header-right a {
  margin-right: 10px;
}

header {
  height: 70px;
  width: 100%;
  background-color: #d3d3d3;
}

.nav-item {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.nav-item a {
  color: #696969;
}

.title {
  text-align: center;
  margin: 30px 0;
}

.form-body {
  text-align: center;
}