<header>
  <div class="container">
    <div class="header-left mt-3">
      <h3><%= link_to "bookma_app", "#" %></h3>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a><%= link_to "ログイン", "" %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to "サインアップ", "#" %></a>
      </li>
    </ul>
  </div>
</header>
