<header>
  <div class="container">
    <div class="header-left mt-2">
      <h1><%= link_to "bookma_app", "#" %></h1>
    </div>
    <div class="header-right mt-4">
      <a><%= link_to "サインアップ", "#" %></a>
      <a><%= link_to "ログイン", "#" %></a>
    </div>
  </div>
</header>